header {
  background: #444;
  color: #fff;
  padding: 20px;
}

h3 {
  color: #fff;
  background-color: black;
  margin: 15px;
  font-size: 20px;
  font-style: italic;
  font-family: serif;
}

img {
  border: 3px dashed orange;
  margin: 12px;
}

p {
  color: green;
  font-style: bold;
}

#kartikeya {
  height: 333px;
}
